@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
#container {
  background-color: #96bb7c;
  border-radius: 50px 50px 0px 0px;
  height: 250px;
  z-index: 2;
}

#copy {
  height: 30px;
  position: relative;
  background-color: #184d47;
}

.card-title {
  background-color: #fad586;
  width: 200px;
  margin-top: auto;
}

.text {
  width: 100px;
}

.section {
  width: 200px;
  height: 100px;
  margin-top: 50px;
}
.card-body .contact {
  display: flex;
}
.card-body .contact img {
  margin: 0 0.3rem 0 0;
}

/* contact us */
.box-contact .box-contact-us {
  margin: 1rem 0 0 0;
  display: flex;
  flex-direction: row;
  width: 250px;
}
.box-contact-us img {
  margin-right: 10px;
}
/* responsive breakpoints*/
/* screen mobile phone */
@media (min-width: 576px) {
  #container {
    height: 500px;
  }
  .box-contact {
    margin-left: -20px;
  }
  .card-body {
    margin-left: 285px;
  }
}

/* screen tablet */
@media (min-width: 768px) {
  #container {
    height: 250px;
  }
  .card-body {
    margin-left: 10px;
    margin-top: -8px;
  }
}

/* screen desktop */
@media (min-width: 922px) {
  #container {
    height: 250px;
  }
  .card-body {
    margin-left: 10px;
    margin-top: -8px;
  }
}
@media (max-width: 992px) {
  .contact {
    margin-left: -60px;
  }
}
