@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: rgb(245, 245, 245);
}
.cont-ek {
  width: 60%;
  height: 80vh;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 10px rgb(194, 194, 194);
  margin: auto;
  margin-top: 60px;
  border-radius: 30px;
  display: flex;
}
/* .subcont {
  width: 50%;
} */
.cont-ek .kr {
  width: 48%;
  background-color: #5b8a72;
  border-radius: 30px 0 0 30px;
}
.cont-ek .kn {
  width: 52%;
  border-radius: 0px 30px 30px 0;
}
.cont-ek .kn .isi {
  color: #184d47;
  margin-top: 20vh;
  margin-left: 50px;
}
.isi h1 {
  letter-spacing: 8px;
}
.isi input {
  padding: 10px;
  width: 300px;
  margin-top: 20px;
  border: none;
  box-shadow: 2px 2px 5px rgb(206, 206, 206);
  color: #bebebe;
}
.ps {
  margin-bottom: 30px;
}
input[type="text"]:focus {
  outline: none;
}
.isi a {
  text-decoration: none;
}
.submit {
  background-color: #5e7756;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgb(206, 206, 206);
  color: white;
  width: 300px;
  text-align: center;
  margin-top: 30px;
  padding: 10px 0px;
}
.submit:hover {
  background-color: #184d47;
}
