@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,900&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}
nav a {
  color: rgba(143, 234, 187, 0.19);
  font-size: 18px;
  font-weight: bolder;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15) solid transparent;
  padding: 7px 10px;
  border-radius: 20px;
}

a.active,
a:hover {
  border: 1px solid rgba(143, 234, 187, 0.19);
  background: rgba(143, 234, 187, 0.19);
  transition: 0.5s;
}

nav ul {
  text-align: center;
  word-spacing: 5rem;
}
