@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,900&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}
nav a {
  color: rgba(143, 234, 187, 0.19);
  font-size: 18px;
  font-weight: bolder;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15) solid transparent;
  padding: 7px 10px;
  border-radius: 20px;
}
a.active,
a.nav-link:hover {
  border: 1px solid rgba(143, 234, 187, 0.19);
  background: rgba(143, 234, 187, 0.19);
}
/* jgn asal gni tapi di sesuaikan ama nama class parent yg dituju,biar semua bagian gk ikut */
nav ul {
  text-align: center;
  /* word-spacing: 5rem; */
}
.collapse .navbar-nav li a {
  color: #f9f9f9;
}
.navbar-light .navbar-nav .nav-link.active {
  position: relative;
  top: 0.5rem;
  width: 100px;
  height: 28.6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* DropDown */
.dropdown-menu li a:hover {
  background: transparent;
}
.dropdown-menu li a:hover::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background: rgba(143, 234, 187, 0.5);
}
.dropdown-menu li a {
  text-align: left;
}

/* Menu Navbar */

.mobile-bar1.active {
  transform: rotate(140deg);
  top: 0.3rem;
}
.mobile-bar2.active {
  transform: rotate(-140deg);
  top: -0.3rem;
}
.mobile-bar3.active {
  top: -1rem;
  display: none;
}
.mobile-bar {
  display: none;
  position: relative;
  width: 10%;
  height: 100%;
}
.mobile-bar-all {
  width: 100%;
  height: 100%;
}
.mobile-bar1,
.mobile-bar2,
.mobile-bar3 {
  position: relative;
  width: 40px;
  height: 5px;
  display: block;
  margin: 0.2rem 0;
  background-color: #fff;
  position: relative;
  z-index: 99999;
  transition: 0.5s ease-in-out;
}

/* Responsive */
@media only screen and (max-width: 998px) {
  .navigasi-container {
    height: 85px !important;
  }
  .container-fluid .navbar-collapse {
    background: #96bb7c;
  }
  /* navigasi menu */
  .mobile-bar {
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container-fluid .menu-nav {
    display: block;
  }
  .container-fluid .menu-nav .navbar-nav {
    margin: auto;
  }
  .navbar-nav li:last-child {
    margin-right: 2rem;
  }
  .navbar-nav li {
    margin-bottom: 1rem;
  }
  .navbar-nav li a {
    margin: none !important;
  }
  .navbar-light .navbar-nav .nav-link.active {
    width: 100% !important;
  }
  .menu-nav .navbar-nav .nav-item .dropdown-menu {
    top: 1rem !important;
    position: relative;
  }
}

@media only screen and (max-width: 728px) {
}
