
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #94c045;
  text-decoration: none;
}

a:hover {
  color: #aacd6b;
  text-decoration: none;
}

h1,h2 {
  font-family: 'Pacifico', cursive;
}

h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}



#main {
  margin-top: 70px;
  z-index: 3;
  position: relative;
}


/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 1440px;
  height: 615px;
  left: calc(50% - 1440px/2);
  top: calc(50% - 615px/2 - 1228.5px);
  background: url("../img/background.svg") top center;
  background-size: cover;
  position: relative;
  margin-bottom: -140px;
  z-index: 1;
}
#hero:before {
  content: "";
  background: rgba(60, 65, 51, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero h1 {
  margin: 0 0 10px 0;
  line-height: 56px;
  font-family: Pacifico;
  font-style: normal;
  font-weight: normal;
  font-size: 58px;
  line-height: 102px;
  text-align: center;
  color: #FFFFFF;

}
#hero h2 {
  color: #BD2600;
  margin-bottom: 50px;
  font-family: Pacifico;
  font-style: normal;
  font-weight: normal;
  font-size: 58px;
  line-height: 102px;
  text-align: center;
  color: #D26230;
}

#hero .actions a {
  font-family: 'League Gothic', arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  padding: 12px 40px;
  transition: 0.5s;
  display: inline-block;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin: 20px;
  border-radius: 6px;
  box-sizing: border-box;
    
}
#hero .btn-get-started {
  border: 2px solid #e96b56;
  color: #fff;
  background: #D26230;
}
#hero .btn-get-started:hover {
  background: none;
  border: 2px solid #fff;
  color: #fff;
}
#hero .btn-services {
  border: 2px solid #D26230;
  color: #D26230;
}
#hero .btn-services:hover {
  background: #03C4EB;
  border: 2px solid #03C4EB;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .hero-container {
    padding: 0 15px;
  }
}
@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding-bottom: 50px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.section-description {
  text-align: center;
  margin-bottom: 40px;
}

.section-bg {
  background-color: #f9fbf4;
}

.section-title {
  padding-bottom: 30px;
  text-align: center;
  font-family: 'League Gothic', arial;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #1D848D;
}

.section-title h2 {
  margin-bottom: 20px;
  padding-bottom: 0;
  font-family: 'League Gothic', arial;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #1D848D;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# featured
--------------------------------------------------------------*/
.featured .container {
  transition: all ease-in-out 0.3s;
  height: 10%;
  background: #FCF7F7;
  border: 7px solid rgba(16, 80, 149, 0.09);
  box-sizing: border-box;
  border-radius: 6px;
  width: 743px;
  height: 112.4px;
  left: 349px;
  top: 554.6px;
}
.featured .count-box h2 {
  width: 142px;
  height: 22.34px;
  left: 387px;
  font-family: 'League Gothic', arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #D26230;

}

.featured .count-box p {
  padding: 5px 0 0 0;
  margin: auto;
  font-family: 'League Gothic', arial;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(4, 1, 0, 0.71);

}
.featured .content {
  font-size: 15px;
}

.firstOverlayLine {
  width: 76.22px;
  height: 0px;
  top: 566.77px;
  line-height: 60px;

  border: 5px solid rgba(16, 80, 149, 0.09);
  transform: rotate(90deg);
}

.secondOverlayLine {
  width: 76.22px;
  height: 0px;
  left: 841px;
  top: 566.77px;

  border: 5px solid rgba(16, 80, 149, 0.09);
  transform: rotate(90deg);

}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/

#about {
  background: #fff;
  padding: 20px 0;
  font-family: "Raleway", sans-serif;
}
#about .about-img {
  overflow: hidden;
}
#about .about-img img {
  max-width: 100%;
}
@media (max-width: 768px) {
  #about .about-img {
    height: auto;
  }
  #about .about-img img {
    margin-left: 0;
    padding-bottom: 30px;
  }
}
#about .about-content {
  background: #fff;
}
#about .about-title {
  font-family: 'League Gothic', arial;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  align-items: center;
  text-align: center;
  color: #D26230;
}
#about .about-text {
  margin: 25px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: rgba(4, 1, 0, 0.71);
  text-align: justify;
}

#about .about-text:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Detail Kegiatan
--------------------------------------------------------------*/
.services{
    background: rgba(29, 132, 141, 0.07);
    width: 100%;
}

@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";
@import "http://fonts.googleapis.com/css?family=Roboto:400,500";

.box .icon { 
  text-align: center; 
  position: relative; 
  background: rgba(252, 179, 113, 0.04);
  border: 1px solid #FCB371;
  box-sizing: border-box;
  border-radius: 20px
  padding-top:40px;
}
.box .icon .image { 
  position: relative; 
  z-index: 2; margin: auto; 
  width: 88px; 
  height: 88px; 
  border: 8px solid white; 
  line-height: 88px; 
  border-radius: 50%; 
  background: #63B76C; 
  vertical-align: middle; 
}
.box .icon:hover .image {
  background: rgba(252, 179, 113, 0.04); 
}
.box .icon .image i { 
  font-size: 36px !important; 
  color: #fff !important; 
}
.box .icon:hover .image i { color: white !important; }
.box .icon .info { 
  margin-top: -24px; 
  background: rgba(0, 0, 0, 0.04); 
  border: 1px solid #e0e0e0; 
  padding: 15px 0 10px 0; 
}
.box .icon:hover .info { 
  background: rgba(0, 0, 0, 0.04); 
  border-color: #e0e0e0; 
  color: white; 
}
.box .icon .info h3.title {
 font-family: "Roboto",sans-serif !important; 
 font-size: 16px; 
 color: #222; 
 font-weight: 500; 
}
.box .icon .info p { 
  font-family: "Roboto",sans-serif !important; 
  font-size: 13px; 
  color: #666; 
  line-height: 1.5em; 
  margin: 20px;
}
.box .icon:hover .info h3.title, .box .icon:hover .info p, .box .icon:hover .info .more a { 
  color: #222; 
}
.box .icon .info .more a { 
  font-family: "Roboto",sans-serif !important; 
  font-size: 12px; color: #222; 
  line-height: 12px; 
  text-transform: uppercase; 
  text-decoration: none; 
}
.box .icon:hover .info .more a { 
  color: #fff; 
  padding: 6px 8px; 
  background-color: #63B76C; 
}
.box .space { 
  height: 20px; 
}
/*--------------------------------------------------------------
# Jalur
--------------------------------------------------------------*/

#daftar {
  background: #fff;
  padding: 20px 0;
  font-family: "Raleway", sans-serif;
  margin-top: 40px;
}
#daftar .funded {
  width: 280px;
  height: 183px;
  background: rgba(16, 80, 149, 0.09);
  border-radius: 8px;
  margin: auto;
  text-align: center;
}

#daftar .funded .ftitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #D26230;
  text-align: center;
  margin-top: 30px;
  }

#daftar .funded .solid {
  border: 1px solid rgba(4, 1, 0, 0.71);
}

#daftar button {
  width: 172px;
  height: 60px;
  background: #D23030DE;
  border-radius: 6px;
  text-align: center;
  align-items: center;
  margin-top: 50px;
  margin-left: 45%;
  font-family: 'League Gothic', arial;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 44px;
  color: #FFFFFF;

}
#daftar .funded p {
  width: 255px;
  height: 42px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: rgba(4, 1, 0, 0.71);
}
#daftar .daftar-content {
  background: #fff;
}
#daftar h2 {
  font-family: 'League Gothic', arial;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #1D848D;
}
#daftar h3 {
  font-family: Pacifico;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 63px;
  text-align: center;
  color: #F55151;
  margin-bottom: 30px;
}

#daftar .daftar-text:last-child {
  margin-bottom: 0;
}


/*--------------------------------------------------------------
# fasilitas
--------------------------------------------------------------*/
#fasilitas {
  background: #FFE4C4;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
  width: 100%;
}

#fasilitas .box1 {
  width: 500px;
}

#fasilitas h3 {
  font-family: 'League Gothic', arial;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 58px;
  text-align: center;
  color: #1D848D;
  margin-top: 50px;
}

#fasilitas h4 {
  font-family: 'League Gothic', arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 44px;
  align-items: center;
  text-align: center;
  color: #D26230;

}

#fasilitas .box2 .round {
  width: 74px;
  height: 74px;
  left: 536px;
  top: 2236px;

  background: #FFFFFF;
  border: 1px solid rgba(196, 196, 196, 0.67);
  box-sizing: border-box;
}

#fasilitas .box2 .imgicon {
  width: 50px;
  height: 50px;
}

/*--------------------------------------------------------------
# Lokasi
--------------------------------------------------------------*/

#lokasi {
  background: #fff;
  padding: 20px 0;
  font-family: "Raleway", sans-serif;
}
#lokasi .lokasi-img {
  overflow: hidden;

}
#lokasi .lokasi-img img {
  max-width: 100%;

}
@media (max-width: 768px) {
  #lokasi .lokasi-img {
    height: auto;
  }
  #lokasi .lokasi-img img {
    margin-right: : 0;
    padding-bottom: 30px;
  }
}
#lokasi .about-content {
  background: #fff;
}

#lokasi .lokasi-text {
  width: 665px;
  height: 292px;
  left: 145px;
  top: 2725px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;

  color: rgba(4, 1, 0, 0.71);

}

#lokasi .about-text:last-child {
  margin-bottom: 0;
}

footer {
width: 1440px;
height: 55px;
left: -11px;
top: 3023px;

background: #1D848D;
}

footer .footer-container {
  background: #1D848D;
}