#container {
  background-color: #184d47;
  border-radius: 50px 50px 0px 0px;
  height: 250px;
  z-index: 2;
}

#copy {
  height: 30px;
  position: relative;
}

.card-title {
  background-color: #fad586;
  width: 200px;
  margin-top: auto;
}

.text {
  width: 100px;
}

.section {
  width: 200px;
  height: 100px;
  margin-top: 50px;
}

/* responsive breakpoints*/
/* screen mobile phone */
@media (min-width: 576px) {
  #container {
    height: 500px;
  }
  .card-body {
    margin-left: 287px;
  }
}

/* screen tablet */
@media (min-width: 768px) {
  #container {
    height: 250px;
  }
  .card-body {
    margin-left: 10px;
    margin-top: -8px;
  }
}

/* screen desktop */
@media (min-width: 922px) {
  #container {
    height: 250px;
  }
  .card-body {
    margin-left: 10px;
    margin-top: -8px;
  }
}
