.card {
  margin-top: -40px;
}

.container-fluid {
  background-color: #d6efc7;
  height: auto;
  z-index: 1;
}

.container {
  width: 20px;
  height: auto;
}
/* Container for flexboxes */
.row {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
}

.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  margin-left: 30px;
  text-align: center;
}

.title {
  text-align: center;
  margin-top: 200px;
}

/* Responsive*/
@media (min-width: 800px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .title {
    margin-top: 200px;
  }
  .container-fluid {
    height: auto;
  }
}
