nav a {
  color: rgba(143, 234, 187, 0.19);
  font-size: 18px;
  font-weight: bolder;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15) solid transparent;
  padding: 7px 10px;
  border-radius: 20px;
}

a.active,
a:hover {
  border: 1px solid rgba(143, 234, 187, 0.19);
  background: rgba(143, 234, 187, 0.19);
  transition: 0.5s;
}

nav ul {
  text-align: center;
  word-spacing: 5rem;
}
